@page "/download"
@attribute [StreamRendering(true)]
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Website.Helpers
@using Website.Models
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

<PageTitle>DevToys - Download</PageTitle>

<section>
    <div class="container">
        <div class="top-space"></div>

        <div class="page-title mb-5 text-center justify-content-center">
            <h1>Download DevToys and DevToys CLI</h1>
        </div>

        <ul class="nav nav-pills mb-3 mt-5 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link @(IsWindows ? "active" : string.Empty)" id="pills-windows-tab" data-bs-toggle="pill" data-bs-target="#pills-windows" type="button" role="tab" aria-controls="pills-windows" aria-selected="true">
                    <i class="bi bi-microsoft"></i> Windows
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @(IsMacOS ? "active" : string.Empty)" id="pills-macos-tab" data-bs-toggle="pill" data-bs-target="#pills-macos" type="button" role="tab" aria-controls="pills-macos" aria-selected="false">
                    <i class="bi bi-apple"></i> macOS
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @(!IsWindows && !IsMacOS ? "active" : string.Empty)" id="pills-debian-tab" data-bs-toggle="pill" data-bs-target="#pills-debian" type="button" role="tab" aria-controls="pills-debian" aria-selected="false">
                    <i class="bi bi-ubuntu"></i> Debian / Ubuntu
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">

            <!-- Windows -->
            <div class="tab-pane fade @(IsWindows ? "show active" : string.Empty)" id="pills-windows" role="tabpanel" aria-labelledby="pills-windows-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                DevToys
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle">Microsoft Store</h5>
                                <p class="card-text text-muted mb-1"><i>Seamless installation &amp; update</i></p>
                                <a href="https://apps.microsoft.com/detail/DevToys/9pgcv4v3bk4w?mode=direct">
                                    <img src="https://get.microsoft.com/images/en-us%20dark.svg" width="115" />
                                </a>

                                @if (AssetsUrls is not null)
                                {
                                    <h5 class="card-subtitle mt-3">Classic Installer</h5>
                                    <p class="card-text text-muted mb-1"><i>Don't have access to the Microsoft Store?</i></p>
                                    <a href="@AssetsUrls[DownloadAssetType.Windows_GUI_Installer_X64]" class="btn btn-primary">x64</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Windows_GUI_Installer_X86]" class="btn btn-primary">x86</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Windows_GUI_Installer_ARM64]" class="btn btn-primary">ARM64</a>

                                    <h5 class="card-subtitle mt-3">Zip</h5>
                                    <p class="card-text text-muted mb-1"><i>A portable approach</i></p>
                                    <a href="@AssetsUrls[DownloadAssetType.Windows_GUI_Zip_X64]" class="btn btn-primary">x64</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Windows_GUI_Zip_X86]" class="btn btn-primary">x86</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Windows_GUI_Zip_ARM64]" class="btn btn-primary">ARM64</a>
                                }
                                else
                                {
                                    <h5 class="card-subtitle mt-3 placeholder-wave">
                                        <span class="placeholder col-3"></span>
                                    </h5>
                                    <p class="card-text text-muted mb-1 placeholder-wave">
                                        <span class="placeholder col-6"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>

                                    <h5 class="card-subtitle mt-3 placeholder-wave">
                                        <span class="placeholder col-1"></span>
                                    </h5>
                                    <p class="card-text text-muted mb-1 placeholder-wave">
                                        <span class="placeholder col-3"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                }

                                <h5 class="card-subtitle mt-3">WinGet & Chocolatey</h5>
                                <p class="card-text text-muted mb-1"><i>From a command line</i></p>
                                <p><code>> winget install /* TODO */</code></p>
                                <p><code>> choco install devtoys</code></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                DevToys CLI
                            </div>
                            <div class="card-body">
                                @if (AssetsUrls is not null)
                                {
                                    <h5 class="card-subtitle">Zip</h5>
                                    <p class="card-text text-muted mb-1"><i>A portable approach</i></p>
                                    <a href="@AssetsUrls[DownloadAssetType.Windows_CLI_Zip_X64]" class="btn btn-primary">x64</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Windows_CLI_Zip_X86]" class="btn btn-primary">x86</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Windows_CLI_Zip_ARM64]" class="btn btn-primary">ARM64</a>

                                    <h5 class="card-subtitle mt-3">Zip without .NET</h5>
                                    <p class="card-text text-muted mb-1"><i>A lightweight ZIP, requiring .NET 8.0 to be installed</i></p>
                                    <a href="@AssetsUrls[DownloadAssetType.Windows_CLI_Zip_Lightweight_X64]" class="btn btn-primary">x64</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Windows_CLI_Zip_Lightweight_X86]" class="btn btn-primary">x86</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Windows_CLI_Zip_Lightweight_ARM64]" class="btn btn-primary">ARM64</a>
                                }
                                else
                                {
                                    <h5 class="card-subtitle placeholder-wave">
                                        <span class="placeholder col-1"></span>
                                    </h5>
                                    <p class="card-text text-muted mb-1 placeholder-wave">
                                        <span class="placeholder col-3"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>

                                    <h5 class="card-subtitle mt-3 placeholder-wave">
                                        <span class="placeholder col-3"></span>
                                    </h5>
                                    <p class="card-text text-muted mb-1 placeholder-wave">
                                        <span class="placeholder col-6"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                }

                                <h5 class="card-subtitle mt-3">WinGet & Chocolatey</h5>
                                <p class="card-text text-muted mb-1"><i>From a command line</i></p>
                                <p><code>> winget install /* TODO */</code></p>
                                <p><code>> choco install /* TODO */</code></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- macOS -->
            <div class="tab-pane fade @(IsMacOS ? "show active" : string.Empty)" id="pills-macos" role="tabpanel" aria-labelledby="pills-macos-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                DevToys
                            </div>
                            <div class="card-body">
                                @if (AssetsUrls is not null)
                                {
                                    <h5 class="card-subtitle">macOS App</h5>
                                    <p class="card-text text-muted mb-1"><i>Traditional application bundle</i></p>
                                    <a href="@AssetsUrls[DownloadAssetType.MacOS_GUI_AppBundle_X64]" class="btn btn-primary">Intel (x64)</a>
                                    <a href="@AssetsUrls[DownloadAssetType.MacOS_GUI_AppBundle_ARM64]" class="btn btn-primary">Apple silicon (ARM64)</a>
                                }
                                else
                                {
                                    <h5 class="card-subtitle placeholder-wave">
                                        <span class="placeholder col-2"></span>
                                    </h5>
                                    <p class="card-text text-muted mb-1 placeholder-wave">
                                        <span class="placeholder col-4"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                }

                                <h5 class="card-subtitle mt-3">Homebrew</h5>
                                <p class="card-text text-muted mb-1"><i>From a command line</i></p>
                                <code>> brew install --cask devtoys</code>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                DevToys CLI
                            </div>
                            <div class="card-body">
                                @if (AssetsUrls is not null)
                                {
                                    <h5 class="card-subtitle">Zip</h5>
                                    <p class="card-text text-muted mb-1"><i>A portable approach</i></p>
                                    <a href="@AssetsUrls[DownloadAssetType.MacOS_CLI_Zip_X64]" class="btn btn-primary">Intel (x64)</a>
                                    <a href="@AssetsUrls[DownloadAssetType.MacOS_CLI_Zip_ARM64]" class="btn btn-primary">Apple silicon (ARM64)</a>

                                    <h5 class="card-subtitle mt-3">Zip without .NET</h5>
                                    <p class="card-text text-muted mb-1"><i>A lightweight ZIP, requiring .NET 8.0 to be installed</i></p>
                                    <a href="@AssetsUrls[DownloadAssetType.MacOS_CLI_Zip_Lightweight_X64]" class="btn btn-primary">Intel (x64)</a>
                                    <a href="@AssetsUrls[DownloadAssetType.MacOS_CLI_Zip_Lightweight_ARM64]" class="btn btn-primary">Apple silicon (ARM64)</a>
                                }
                                else
                                {
                                    <h5 class="card-subtitle placeholder-wave">
                                        <span class="placeholder col-1"></span>
                                    </h5>
                                    <p class="card-text text-muted mb-1 placeholder-wave">
                                        <span class="placeholder col-3"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>

                                    <h5 class="card-subtitle mt-3 placeholder-wave">
                                        <span class="placeholder col-3"></span>
                                    </h5>
                                    <p class="card-text text-muted mb-1 placeholder-wave">
                                        <span class="placeholder col-6"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                }

                                <h5 class="card-subtitle mt-3">Homebrew</h5>
                                <p class="card-text text-muted mb-1"><i>From a command line</i></p>
                                <code>> brew install --cask devtoys.cli</code>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Debian / Ubuntu -->
            <div class="tab-pane fade @(!IsWindows && !IsMacOS ? "show active" : string.Empty)" id="pills-debian" role="tabpanel" aria-labelledby="pills-debian-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                DevToys
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle">Apt</h5>
                                <p class="card-text text-muted mb-1"><i>From a command line</i></p>
                                <code>> sudo apt install devtoys (/* TODO */)</code>

                                @if (AssetsUrls is not null)
                                {
                                    <h5 class="card-subtitle mt-3">Deb</h5>
                                    <p class="card-text text-muted mb-1"><i>Debian software package file</i></p>
                                    <a href="@AssetsUrls[DownloadAssetType.Debian_GUI_Deb_X64]" class="btn btn-primary">x64</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Debian_GUI_Deb_ARM64]" class="btn btn-primary">ARM64</a>

                                    <h5 class="card-subtitle mt-3">Zip</h5>
                                    <p class="card-text text-muted mb-1"><i>A portable approach</i></p>
                                    <a href="@AssetsUrls[DownloadAssetType.Debian_GUI_Zip_X64]" class="btn btn-primary">x64</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Debian_GUI_Zip_ARM64]" class="btn btn-primary">ARM64</a>
                                }
                                else
                                {
                                    <h5 class="card-subtitle mt-3 placeholder-wave">
                                        <span class="placeholder col-1"></span>
                                    </h5>
                                    <p class="card-text text-muted mb-1 placeholder-wave">
                                        <span class="placeholder col-6"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>

                                    <h5 class="card-subtitle mt-3 placeholder-wave">
                                        <span class="placeholder col-1"></span>
                                    </h5>
                                    <p class="card-text text-muted mb-1 placeholder-wave">
                                        <span class="placeholder col-3"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                DevToys CLI
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle">Apt</h5>
                                <p class="card-text text-muted mb-1"><i>From a command line</i></p>
                                <code>> sudo apt install devtoys (/* TODO */)</code>

                                @if (AssetsUrls is not null)
                                {
                                    <h5 class="card-subtitle mt-3">Deb</h5>
                                    <p class="card-text text-muted mb-1"><i>Debian software package file</i></p>
                                    <a href="@AssetsUrls[DownloadAssetType.Debian_CLI_Deb_X64]" class="btn btn-primary">x64</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Debian_CLI_Deb_ARM64]" class="btn btn-primary">ARM64</a>

                                    <h5 class="card-subtitle mt-3">Zip</h5>
                                    <p class="card-text text-muted mb-1"><i>A portable approach</i></p>
                                    <a href="@AssetsUrls[DownloadAssetType.Debian_CLI_Zip_X64]" class="btn btn-primary">x64</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Debian_CLI_Zip_ARM64]" class="btn btn-primary">ARM64</a>

                                    <h5 class="card-subtitle mt-3">Zip without .NET</h5>
                                    <p class="card-text text-muted mb-1"><i>A lightweight ZIP, requiring .NET 8.0 to be installed</i></p>
                                    <a href="@AssetsUrls[DownloadAssetType.Debian_CLI_Zip_Lightweight_X64]" class="btn btn-primary">x64</a>
                                    <a href="@AssetsUrls[DownloadAssetType.Debian_CLI_Zip_Lightweight_ARM64]" class="btn btn-primary">ARM64</a>
                                }
                                else
                                {
                                    <h5 class="card-subtitle mt-3 placeholder-wave">
                                        <span class="placeholder col-1"></span>
                                    </h5>
                                    <p class="card-text text-muted mb-1 placeholder-wave">
                                        <span class="placeholder col-4"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>

                                    <h5 class="card-subtitle mt-3 placeholder-wave">
                                        <span class="placeholder col-1"></span>
                                    </h5>
                                    <p class="card-text text-muted mb-1 placeholder-wave">
                                        <span class="placeholder col-3"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>

                                    <h5 class="card-subtitle mt-3 placeholder-wave">
                                        <span class="placeholder col-3"></span>
                                    </h5>
                                    <p class="card-text text-muted mb-1 placeholder-wave">
                                        <span class="placeholder col-6"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                    <a class="btn btn-primary disabled placeholder-wave col-1" aria-disabled="true">&emsp;</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-5 mt-5 text-center justify-content-center">
            <h3 class="page-title mb-3 mt-3">Need an older version?</h3>
            <a class="btn btn-primary mb-3" href="https://github.com/DevToys-app/DevToys/releases">Check the releases on GitHub</a>
        </div>
    </div>
</section>


@code {
    internal bool IsWindows { get; set; }

    internal bool IsMacOS { get; set; }

    internal IReadOnlyDictionary<DownloadAssetType, string>? AssetsUrls { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        if (httpContextAccessor.HttpContext is not null)
        {
            var userAgent = httpContextAccessor.HttpContext.Request.Headers["User-Agent"].ToString();

            var uaParser = UAParser.Parser.GetDefault();
            var clientInfo = uaParser.Parse(userAgent);
            if (clientInfo.OS.Family.StartsWith("Windows", StringComparison.OrdinalIgnoreCase))
            {
                IsWindows = true;
            }
            else if (clientInfo.OS.Family.StartsWith("Mac", StringComparison.OrdinalIgnoreCase)
                     || clientInfo.OS.Family.StartsWith("iOS", StringComparison.OrdinalIgnoreCase))
            {
                IsMacOS = true;
            }
        }

        AssetsUrls = await GitHubHelper.GetLatestAssetsLinksAsync();

        await base.OnInitializedAsync();
    }
}